<a href="https://colab.research.google.com/github/Yogeshv01/Python_Basics/blob/main/Python_Basics_10_Basic_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Functions
 * If a group of statements is repeatedly required then it is not recommended to write these statements everytime seperately.
 * We have to define these statements as a single unit and we can call that unit any number of times based on our requirement without rewriting.
 * This unit is nothing but function.

* The main advantage of functions is code Reusability.

* Python supports two types of functions:

# Built-in function

# User defined function

Built in Functions:

The functions which are coming along with Python software automatically, are called built in functions or pre defined functions.

e.g. id(), type(), input(),eval()

User defined function:
The functions which are developed by programmer explicitly according to business requirements, are called user defined functions.

Syntax:

def function_name(parameters):

''' doc string'''

python code

return value

In [10]:
def self():
  print("I am Yogesh")
self()

I am Yogesh

### Parameters
 * Parameters are inputs to the function.
 * If a function contains parameters, then at the time of calling,compulsory we should provide values otherwise we will get error.

* Eg: Write a function to take name of the student as input and print wish message by name.

In [13]:
def wish(name):
  print("Hello",name," Good Day")

In [14]:
wish("Yogesh")

Hello Yogesh  Good Day

In [15]:
def my_name(name):
  print("hello",my_name,"Wheather is too hot")

In [17]:
my_name("Yogesh")

hello <function my_name at 0x7fed48002cb0> Wheather is too hot

In [18]:
# Eg: Write a function to take number as input and print its square value

def sqr(number):
  print(number * number)

In [19]:
sqr(9)

81

In [20]:
sqr(69.6)

4844.159999999999

In [21]:
sqr(33+44)

5929

## Return Statement:
Function can take input values as parameters and executes business logic, and returns output to the caller with return statement.

Q) Write a Function to accept 2 Numbers as Input and return Sum

In [22]:
def sum(x,y,z):
  print (x+y-z)
  return

In [23]:
sum(2,3,4)

1

In [28]:
def sum(a,b,d,e):
    return a*b+d-e

In [29]:
sum(11,22,33,44)

231

#  Q) Write a Function to check whether the given Number is Even OR Odd?

In [33]:
def even_odd(number):
   if number%2==0:
    print (number,"is even number")
   else:
    print (number,"is odd number")

In [34]:
even_odd(5)

5 is odd number

In [36]:
even_odd(11)

11 is odd number

## Q) Write a Function to check whether the given Number is Even OR Odd?

In [37]:
def fact(number):
    result=1
    while number>=1:
      result=result*number
      number=number-1
    return result

In [38]:
fact (2)

2

In [39]:
fact (19)

121645100408832000

In [44]:
for i in range(0,5):
   print("The Factorial of",i,"is", fact(i))

The Factorial of 0 is 1
The Factorial of 1 is 1
The Factorial of 2 is 2
The Factorial of 3 is 6
The Factorial of 4 is 24

### Returning Multiple Values from a Function

In [50]:
def add_sub(x,y):
  add = x+y
  sub = x-y
  return add,sub

In [51]:
add_sub(20,10)

(30, 10)

### Types of Arguments

 def f1(a,b):

  

-

-

f1(10,20)

a, b are formal arguments where as 10,20 are actual arguments.

## Types
There are 4 types are actual arguments are allowed in Python.

Positional Arguments
Keyword Arguments
Default Arguments
Variable length arguments

### 1 Positional Argument:
These are the arguments passed to function in correct positional order.

def sub(a, b):

print(a-b)

sub(100, 200)

sub(200, 100)

The number of arguments and position of arguments must be matched. If we change the order then result may be changed

In [58]:
def add(a,b,c):
  return(a+b+c)

In [60]:
print(add(3,c=3.5,b=30))

36.5

### 2. Keyword Arguments:

In [61]:
def wish(name,message):
  print("Hello",name,message)

In [62]:
wish(message="Good Day",name = "Yogesh")

Hello Yogesh Good Day

 ### 3.Default Arguments:

In [63]:
def wish(name="-"):
  print("Hello",name,"Good Morning")

In [65]:
wish("Yogesh")

Hello Yogesh Good Morning

In [67]:
def   Relatives(name = "-"):
  print("Hello",name,"How old are you?")

In [69]:
Relatives ("Shyam")

Hello Shyam How old are you?

## 4. Variable Length Arguments:
Sometimes we can pass variable number of arguments to our function, such type of arguments are called variable length arguments.

We can declare a variable length argument with * symbol as follows

def f1(*n):

We can call this function by passing any number of arguments including zero number.

Internally all these values represented in the form of tuple.

In [73]:
def addition(*n):
    result=1
    for n1 in n:
      result=result+n1
    print("The addition=",result)

In [74]:
addition(3)

The addition= 4

In [75]:
def add(n,*k):
  print(n)
  for i in k:
    print(i)

In [76]:
add(11,22,33)

11
22
33

In [77]:
# After variable length argument,if we are taking any other arguments then we should provide values as keyword arguments.
def f1(*s,n1):
    for s1 in s:
      print(s1)
    print(n1)

f1("A","B",10,20,n1=30)

A
B
10
20
30

# Declare key word variable length arguments.

In [79]:
def teams(**IPL):
  for i,j in IPL.items():
    print(i,'=',j)

In [80]:
teams (RCB=10,DC=30)

RCB = 10
DC = 30

### Note : Function vs Module vs Library
A group of lines with some name is called a function

A group of functions saved to a file, is called Module

A group of Modules is nothing but Library

## Types of Variables
Python supports 2 types of variables.

Global Variables
Local Variables

In [83]:
# global variables define outside the function

x= 15
def sum():
  b=22
  print(x+b)

In [84]:
sum()

37

In [85]:
# local variabls deines inside the function.
def f1():
    a=20
    print(a)

In [86]:
f1()

20

In [87]:
def a():
    b= "IPL"
    print(b) 

a()

IPL

In [88]:
b="Matches"
a()
print(b)

IPL
Matches

In [90]:
a= 100 #global variable
def function():
  a=66  #local variable
  print(a)

In [91]:
function()

66

In [92]:
"""Note: If global variable and local variable having the same name then we can access
  global variable inside a function """

a = 100
def function():
    a=66
    print(a)
    print(globals()['a'])

In [93]:
function()

66
100

### Recursive Function:
A function that calls itself is known as Recursive Function.

Main advantages of recursive functions are:

We can reduce length of the code and improves readability.
We can solve complex problems very easily. E.g.
factorial(3) = 3 * factorial(2)

= 3 2 factorial(1)

=321*factorial(0)

=321*1

=6

factorial(n) = n * factorial(n-1

In [94]:
'''Write a Python Function to find Factorial of given
  Number with Recursion'''

def fact(n):
  if n==0:
    result=1
  else:
    result= n*fact(n-1)
  return result

In [95]:
fact(3)

6

In [96]:
fact(6)

720

In [97]:
print("fact-6 is :",fact(6))

fact-6 is : 720