<a href="https://colab.research.google.com/github/Yogeshv01/Python_Basics/blob/main/Python_Basics_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

Tuple is exactly same as List except that it is immutable. i.e once we creates Tuple object, we cannot perform any changes in that object. Hence Tuple is Read only version of List.

If our data is fixed and never changes then we should go for Tuple.

Insertion Order is preserved Duplicates are allowed Heterogeneous objects are allowed.

We can preserve insertion order and we can differentiate duplicate objects by using index. Hence index will play very important role in Tuple also.

Tuple support both +ve and -ve index. +ve index means forward direction (from left to right) and -ve index means backward direction (from right to left)

We can represent Tuple elements within Parenthesis and with comma seperator. [ ]

In [2]:
x = (10,30,40,60)
print(type(x))
x

<class 'tuple'>

(10, 30, 40, 60)

Q) Which of the following are valid Tuples?

1) t=()    # valid empty tuple

2) t=10,20,30,40 #valid tuple

3) t=10          # this is not tuple

4)t = (10,)      #tuple with single element

5) t=(10,20,30,40) #valid tuple

6) t = [10,20]   #list

tuple(t) #we can change list in to tuple

In [3]:
x = [10,12,15,16]
print(tuple(x))
x

(10, 12, 15, 16)

[10, 12, 15, 16]

### Accessing Elements:

By index or by slice operator

In [4]:
x = (50,100,150,200)
x[1]

100

In [5]:
x[100]

IndexError: ignored

In [7]:
# by sice
x = (50,100,150,200)
x[::]

(50, 100, 150, 200)

In [8]:
x[::-3] #for reverse the tuple

(200, 50)

In [9]:
x[1:5:2]

(100, 200)

## Tuple vs Immutability: 

* If we creates tuple, we can't change its elemnts or contents.
* So,tuple objects are immutable.

In [11]:
x
x[0]

50

In [12]:
x[1]=75

TypeError: ignored

## Mathematical Operators for Tuple:
Here we can apply + and * operators for tuple

In [13]:
#Addition (Concatenation) operator (+)
x
y= (1,2,3,4,5)
z = x+y
z

(50, 100, 150, 200, 1, 2, 3, 4, 5)

In [14]:
# Multiplication Operator OR Repetition Operator (*)
x 
x*2

(50, 100, 150, 200, 50, 100, 150, 200)

## Important Functions:

In [15]:
# len()
len(x)

4

In [18]:
#2. count():To return number of occurrences of given element in the tuple
x = (50, 100, 150, 200,100)
x.count(100)

2

In [19]:
# 3. index(): Returns index of first occurrence of the given element.
# If the specified element is not available then we will get ValueError.
x.index(150)

2

In [20]:
# 4. sorted(): To sort elements based on default natural sorting order

y = sorted(x)
y

[50, 100, 100, 150, 200]

In [21]:
#We can sort according to reverse of default natural sorting order as follows
z = sorted(x, reverse = True)
z

[200, 150, 100, 100, 50]

In [22]:
# 5. min() and max() functions:
#These functions return min and max values according to default natural sorting order.

min(x)

50

In [23]:
max(x)

200

### **Q. What do you mean by packing and unpacking of tuple?(explain with the help of code)**

**Packing** = When we create a tuple, we normally assign values to it. This is called "packing" a tuple

**Unpacking** = But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"
     
#                              **OR**

**Packing and Unpacking a Tuple:** In Python, there is a very powerful tuple assignment feature that assigns the right-hand side of values into the left-hand side. In another way, it is called unpacking of a tuple of values into a variable. In packing, we put values into a new tuple while in unpacking we extract those values into a single variable.

In [25]:
# Packing of tuple:-
City = ("Ambajogai", "Latur", "Parali")
print(City)

('Ambajogai', 'Latur', 'Parali')

In [31]:
# Unpacking of tuple:-
City = ("Ambajogai", "Latur", "Parali")

(NamitaM, AmitD, DM) = City

print(NamitaM)
print(AmitD)
print(DM)

Ambajogai
Latur
Parali

## Tuple Comprehension:

Tuple Comprehension is not supported by Python.

t = ( x**2 for x in range(1,6))

Here we are not getting tuple object and we are getting generator object.

1) t= ( x**2 for x in range(1,6))

2) print(type(t))

3) for x in t:

4) print(x)

In [32]:
y= ( x**3 for x in range(1,8))
print(type(y))
for x in y:
  print(x)

<class 'generator'>
1
8
27
64
125
216
343

### Q. Write a Program to take a Tuple of Numbers from the Keyboard and Print its Sum and Average?

In [34]:
t = eval(input("Enter The Tuple Number : "))
l = len(t)
sum = 0
for i in t:
  sum = sum+i

print("The Sum :", sum)
print("The Average : ", sum/l)

Enter The Tuple Number : 5,6,7,8,9
The Sum : 35
The Average :  7.0