<a href="https://colab.research.google.com/github/Yogeshv01/Python_Basics/blob/main/Python_Basics_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### SETS

1. A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements.
2. Python’s set class represents the mathematical notion of a set.
3. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. 
4. This is based on a data structure known as a hash table. 
5. Since sets are unordered, we cannot access items using indexes like we do in lists.

**Imp** : Insertion order is not preserved.
          Duplicates Not Allowed

In [1]:
#set
s = {20,30,33,44}
print(s)

{33, 20, 30, 44}

In [5]:
# Creation of set
s = [20,30,33,44] #list to set fun x = set(s)

x = set(s)
x

{20, 30, 33, 44}

In [7]:
# Indexing/Slicing are supported
s = {20,30,33,44}

s[::-2]

TypeError: ignored

In [9]:
s = set(range(6))
s

{0, 1, 2, 3, 4, 5}

### Frozen Sets

Frozen sets in Python are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.
 While elements of a set can be modified at any time, elements of the frozen set remain the same after creation. 
If no parameters are passed, it returns an empty frozenset.

In [10]:
normal_set = set(["a", "b","c"])
 
print("Normal Set")
print(normal_set)

Normal Set
{'a', 'c', 'b'}

In [11]:
frozen_set = frozenset(["e", "f", "g"])
 
print("\nFrozen Set")
print(frozen_set)

Frozen Set
frozenset({'e', 'g', 'f'})

### Functions for Sets

Adding elements

In [12]:
x = {101,102,103,104}
x.add(105)
x

{101, 102, 103, 104, 105}

Updating elements

In [13]:

y = {201,202,203,204}
x.update(y)
x

{101, 102, 103, 104, 105, 201, 202, 203, 204}

### What is the difference between add() and update() Functions in Set?

We can use add() to add individual item to the Set,where as we can use update() function to add multiple items to Set.
add() function can take only one argument where as update() function can take any number of arguments.

Copy/pop/remove/discard/clear Elments

In [14]:
x
y=x.copy()

print(x)
print(y)

{101, 102, 103, 104, 105, 201, 202, 203, 204}
{101, 102, 103, 104, 105, 201, 202, 203, 204}

In [15]:
y.pop()

101

In [16]:

x.remove(103)
x

{101, 102, 104, 105, 201, 202, 203, 204}

In [17]:
x.discard(204)
x

{101, 102, 104, 105, 201, 202, 203}

In [18]:
x.clear()
x

set()

### Methods for Sets

Method	Description
add()	Adds an element to the set

clear()	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	Removes the items in this set that are also included in another, specified set

discard()	Remove the specified item

intersection()	Returns a set, that is the intersection of two other sets

intersection_update()	Removes the items in this set that are not present in other, specified set(s)

pop()	Removes an element from the set

remove()	Removes the specified element

symmetric_difference()	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set and another

union()	Return a set containing the union of sets

update()	Update the set with the union of this set and others

In [38]:
x = {111,222,333,444,666,'Akash'}
y = {333,666,777,'Aki'}
x.union(y)
#x|y

{111, 222, 333, 444, 666, 777, 'Akash', 'Aki'}

In [39]:
y.union(x)
#y|x

{111, 222, 333, 444, 666, 777, 'Akash', 'Aki'}

In [41]:
x.intersection(y)
#x&y

{333, 666}

In [43]:
x.difference(y)
#x-y

{111, 222, 444, 'Akash'}

In [46]:
#x.symmetric_difference(y)
(x^y)

{111, 222, 444, 777, 'Akash', 'Aki'}

# Membership operator (in , not in)

in = Evaluates to true if it finds a variable in the specified sequence and false otherwise.

not in = Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.

In [51]:
a = 10
b = 2
set = {1, 2, 3, 4, 5 };

if ( a in set ):
   print ("Line 1 - a is available in the given set")
else:
   print ("Line 1 - a is not available in the given set")

if ( b not in set ):
   print ("Line 2 - b is not available in the given set")
else:
   print ("Line 2 - b is available in the given set")

Line 1 - a is not available in the given set
Line 2 - b is available in the given set

set comprehention

In [52]:
x = {s*s for s in range (0,100,15)} #squr in range of 0,15,30,45,...90
x

{0, 225, 900, 2025, 3600, 5625, 8100}

## Q) Write a Program to eliminate Duplicates Present in the List?

In [54]:
Info1=[101,201,301,301,401,501,501,601]
Output=[]
for i in Info1:
  if i not in Output:
    Output.append(i)

print(Output)

[101, 201, 301, 401, 501, 601]

Write a Program to Print different Vowels Present in the given Word?(Using intersection method

In [55]:
x = "data scientist"
y = ['a','e','i','o','u']
for i in x:
  if i in y:
    print(i,end="\t")

a	a	i	e	i

### UTF - 8
**UTF-8** is one of the most commonly used encodings, and Python often defaults to using it. UTF stands for “Unicode Transformation Format”, and the ‘8’ means that 8-bit values are used in the encoding.

**UTF-8** uses the following rules:

If the code point is < 128, it’s represented by the corresponding byte value.

If the code point is >= 128, it’s turned into a sequence of two, three, or four bytes, where each byte of the sequence is between 128 and 255.

**UTF-8** has several convenient properties:

It can handle any Unicode code point.

A Unicode string is turned into a sequence of bytes that contains embedded zero bytes only where they represent the null character (U+0000). This means that UTF-8 strings can be processed by C functions such as strcpy() and sent through protocols that can’t handle zero bytes for anything other than end-of-string markers.

A string of ASCII text is also valid UTF-8 text.

**UTF-8** is fairly compact; the majority of commonly used characters can be represented with one or two bytes.

If bytes are corrupted or lost, it’s possible to determine the start of the next UTF-8-encoded code point and resynchronize. It’s also unlikely that random 8-bit data will look like valid UTF-8.

**UTF-8** is a byte oriented encoding. The encoding specifies that each character is represented by a specific sequence of one or more bytes. This avoids the byte-ordering issues that can occur with integer and word oriented encodings, like UTF-16 and UTF-32, where the sequence of bytes varies depending on the hardware on which the string was encoded.