<a href="https://colab.research.google.com/github/Yogeshv01/Python_Basics/blob/main/Python_Basics_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators


1) Arithmetic Operators

Addition: + , 
Subtraction: -
Multiplication: * , 
Division Operator: /
Modulo Operator: % ,
Floor Division Operator: //
Exponent Operator OR Power Operator: **

In [2]:
x=42
y=7
print('x+y=',x+y) # Addition
print('x-y=',x-y) # Subtraction
print('x*y=',x*y) # Mutiplication
print('x/y=',x/y) # Division
print('x//y=',x//y) # Floor Division - It is an operation in Python that divides two numbers and return the result down to the nearest integer
print('x%y=',x%y) # % Modulus - It returns the remainder of dividing the left hand operand by right hand operand
print('x**y=',x**y) # ** Exponent - Performs exponential (power) calculation on operators

x+y= 49
x-y= 35
x*y= 294
x/y= 6.0
x//y= 6
x%y= 0
x**y= 230539333248

2) Relational Operators


> : If the value of left operand is greater than the value of right operand, then condition becomes true,(a > b) is not true.

< : If the value of left operand is less than the value of right operand, then condition becomes true.(a < b) is true.

<> : 	If values of two operands are not equal, then condition becomes true.((a <> b) is true. This is similar to != operator.)

>= : If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.(a >= b) is not true

<= : If the value of left operand is less than or equal to the value of right operand, then condition becomes true.(a <= b) is true.

In [7]:

print("x > y is ",x>y)
print("x < y is ",x<y)


print("x > y is ",x>y)
#print("x <> y is ",x<>y)
print("x >= y is ",x>=y)
print("x <= y is ",x<=y)

x > y is  True
x < y is  False
x == y is  False
x != y is  True
x > y is  True
x >= y is  True
x <= y is  False

3) Equality Operators 

== : If the values of two operands are equal, then the condition becomes true.((a == b) is not true.)

!= : If values of two operands are not equal, then condition becomes true.( then condition becomes true.	(a != b) is true.)

In [9]:
a = 13
b = 33
print(a == b)
print(a != b)

False
True

In [8]:
print("x == y is ",x==y)
print("x != y is ",x!=y)

x == y is  False
x != y is  True

4) Logical Operators

Logical operators perform Logical AND, Logical OR, and Logical NOT operations. It is used to combine conditional statements.

and -	Logical AND: True if both the operands are true	x and y

or -	Logical OR: True if either of the operands is true 	x or y

not	- Logical NOT: True if the operand is false 	not x

In [14]:
a = True
b = False
 
# Print a and b is False
print(a and b)
 
# Print a or b is True
print(a or b)
 
# Print not a is False
print(not a)

False
True
False

In [19]:
a and b
#b and a

False

5) Bitwise Operators

Bitwise operators act on bits and perform the bit-by-bit operations. 
These are used to operate on binary numbers.

&	Bitwise AND	x & y

|	Bitwise OR	x | y

~	Bitwise NOT	~x

^	Bitwise XOR	x ^ y

>>	Bitwise right shift	x>>  
Letâ€™s suppose we have a binary number 0110 (6 in decimal). The operation we perform is 0110 >> 2:

0110 >> 2
0011 (move one step to the right)
0001 (move one more step to the right)


<<	Bitwise left shift	x<<
Operation complete
Similarly, we can move 0110 twice to the left with the following operation 0110 << 2:

0110 << 2
01100 (move one step to the left)
011000 (move one more step to the left)
Operation complete

In [22]:
a = 16
b = 17
 
# Print bitwise AND operation
print(a & b)
 
# Print bitwise OR operation
print(a | b)
 
# Print bitwise NOT operation
print(~a)
 
# print bitwise XOR operation
print(a ^ b)
 
# print bitwise right shift operation
print(a >> 2)
 
# print bitwise left shift operation
print(a << 2)

16
17
-17
1
4
64

In [24]:
num1 = 10  # Binary value = 01010
num2 = 20  # Binary Value = 10100

print(num1 & num2)   # 0   -> Binary value = 00000
print(num1 | num2)   # 30  -> Binary value = 11110
print(num1 ^ num2)   # 30  -> Binary value = 11110
print(~num1)         # -11 -> Binary value = -(1011)
print(num1 << 3)     # 80  -> Binary value = 0101 0000
print(num2 >> 3)     # 2   -> Binary value = 0010

0
30
30
-11
80
2

6) Assignment Operators 

Assignment operators are used to assigning values to the variables

=	Assign value of right side of expression to left side operand,	x = y + z

+=	Add AND: Add right-side operand with left side operand and then assign to left operand	a+=b     a=a+b

-=	Subtract AND: Subtract right operand from left operand and then assign to left operand	a-=b     a=a-b

*=	Multiply AND: Multiply right operand with left operand and then assign to left operand	a*=b     a=a*b

/=	Divide AND: Divide left operand with right operand and then assign to left operand	a/=b     a=a/b

%=	Modulus AND: Takes modulus using left and right operands and assign the result to left operand	a%=b     a=a%b

//=	Divide(floor) AND: Divide left operand with right operand and then assign the value(floor) to left operand	a//=b     a=a//b

**=	Exponent AND: Calculate exponent(raise **power**) value using operands and assign value to left operand	a**=b     a=a**b **bold text**
**bold text** **bold text**
&=	Performs Bitwise AND on operands and assign value to left operand	a&=b     a=a&b

|=	Performs Bitwise OR on operands and assign value to left operand	a|=b     a=a|b

^=	Performs Bitwise xOR on operands and assign value to left operand	a^=b     a=a^b

>>=	Performs Bitwise right shift on operands and assign value to left operand	a>>=b     a=a>>b

<<=	Performs Bitwise left shift on operands and assign value to left operand	a <<= b     a= a << b

In [26]:
# Examples of Assignment Operators
a = 10
 
# Assign value
b = a
print(b)

10

In [27]:
# Add and assign value
b += a
print(b)

20

In [28]:
# Subtract and assign value
b -= a
print(b)

10

In [30]:
# multiply and assign
b *= a
print(b)

1000

In [31]:
 
# bitwise lishift operator
b <<= a

print(b)

1024000

Identity Operators

is and is not are the identity operators both are used to check if two values are located on the same part of the memory. 
Two variables that are equal do not imply that they are identical.

is          True if the operands are identical 

is not      True if the operands are not identical

In [33]:

a = 10
b = 20
c = a
 
print(a is not b)
print(a is c)

True
True

Membership Operators

iMembership operators are operators used to validate the membership of a value. It tests for membership in a sequence, such as strings, lists, or tuples. in operator: The 'in' operator is used to check if a value exists in a sequence or not

In [35]:
x = "Hello This is Yogesh"
print('h' in x)# True
print('d' in x) #False
print('d' not in x) #True
print('Python' in x) #True

True
False
True
False

In [34]:
# Python program to illustrate
# not 'in' operator
x = 24
y = 20
list = [10, 20, 30, 40, 50]
 
if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")
 
if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

MATH MODULE

Python** has a built-in module that you can use for mathematical tasks.

The math module has a set of methods and constants.

Math module that contains several functions to perform mathematical operations.

In [37]:
from math import sqrt
print (m.sqrt (16))

4.0

In [36]:
import math as m
print (m.sqrt (16))

4.0

ceil(x) - Return the ceiling of x, the smallest integer greater than or equal to x

floor(x) - Return the floor of x, the largest integer less than or equal to x

pow(x, y) - Return x raised to the power y.

factorial(x) - Return x factorial as an integer

gcd(*integers) - Return the greatest common divisor of the specified integer arguments

In [40]:
from math import ceil, floor, factorial, trunc, gcd, sin,cos,tan
print(ceil(10.55))
print(floor(10.55))
print(pow(10,20))
print(factorial(5))
print(trunc(10.55))
print(gcd(10,20))
print(sin(10))
print(cos(10))
print(tan(10))

11
10
100000000000000000000
120
10
10
-0.5440211108893698
-0.8390715290764524
0.6483608274590866

In [41]:
# Important variables
'''pi = 3.14
   inf = infinity
   nan = not a number'''

'pi = 3.14\n   inf = infinity\n   nan = not a number'

#HOMEWORK:

# Python Program to find Area of Circle

In [45]:

import math

x=input("Put the radius of circle")
Radius = int(x)
Area =3.14*Radius**2
print("Area of circle is",Area)

Put the radius of circle12
Area of circle is 452.16

# Homework: Write the program for Maximum Of Three Numbers

In [46]:

#A = 20
#B = 24
#C = 22

A = float(input("Enter first number: "))
B = float(input("Enter second number: "))
C = float(input("Enter third number: "))

if (A >= B) and (A >= B):
   Maximum = A
elif (B >= A) and (B >= C):
   Maximum = B
else:
   Maximum = c

print("The maximum number is", Maximum)

Enter first number: 20
Enter second number: 24
Enter third number: 22
The maximum number is 24.0

In [47]:
A = 20
B = 24
C = 22

#A = float(input("Enter first number: "))
#B = float(input("Enter second number: "))
#C = float(input("Enter third number: "))

if (A >= B) and (A >= B):
   Maximum = A
elif (B >= A) and (B >= C):
   Maximum = B
else:
   Maximum = c

print("The maximum number is", Maximum)

The maximum number is 24